@model RegisterEditMovieViewModel

@{
    ViewBag.Title = "Register";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/RegisterEditMovie.js"></script>
}

<h3>Create movie</h3>

<form method="post">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.MovieName, "Movie name:")
        @Html.TextBoxFor(p => p.MovieName, new { @class = "form-control", placeholder = "Movie name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description, "Description:")
        @Html.TextAreaFor(p => p.Description, new { @class = "form-control", placeholder = "Description", rows = 5, columns = 5 })
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Rating:</label>
        <div class="row">
            <div class="col-md-12">
                <label class="radio-inline">
                    @Html.RadioButtonFor(p => p.Rating, 1) 1
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(p => p.Rating, 2) 2
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(p => p.Rating, 3) 3
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(p => p.Rating, 4) 4
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(p => p.Rating, 5) 5
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Category)
        @Html.DropDownListFor(p => p.Category, (SelectList)ViewBag.Categories,
                                  "Select a category",
                                  new { @class = "form-control" }
                              )
    </div>
    <div class="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>

</form>

